React JS/FirstReactProject/
# Ignore node_modules directories globally
node_modules/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

